
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Font-awesome
@import "bower_components/font-awesome/scss/font-awesome";

//Date time picker
@import "node_modules/angular-bootstrap-datetimepicker/src/scss/datetimepicker";

//Sweet Alert
@import "bower_components/sweetalert/dev/sweetalert.scss";


.navbar{
    border:0px;
    border-radius: 0px;
}

.scroll{
    border-radius:50%;
    background:green;
    position:fixed;
    right:0%;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:15px;
    padding-left:15px;
    color:eee;
}